/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

/* Estilos do formulário */
.mat-card-form {
  margin-top: 20px;
}

/* Estilos da lista de animais */
.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.mat-card-animal {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Estilos dos botões de ação */
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-left: 10px;
}
